<!-- Custom styles: -->
<link rel="stylesheet" href="/css/search.css" media="all">
<script src="/js/search.js" defer></script>
<div id="content">
    <section id="search-section">
        <form id=search-form" action="/search" meathod="GET">
            <input type="text" id="query" name="query" value="{{query}}">
            <button type="submit">Search</button>
        </form>
    </section>
    <section id="results-section">
    {{#each results}}
        <div class="search-result">
            <div class="search-result-header">
                <div class="search-result-header-text">
                    <h2 class="restaurant-name">{{name}}</h2>
                    <p class="restaurant-cuisine">{{cuisine}}</p>
                    <p class="restaurant-award" title="{{award}}">{{award}}</p>
                </div>
                <div class="search-result-header-image">
                    <img src="/images/{{id}}-img.webp" alt="{{name}} Image">
                </div>
            </div>
            <div class="search-result-links">
                <a class="restaurant-url" href="{{websiteurl}}">{{name}} Website</a>
                <a class="restaurant-url" href="{{url}}">Michelin Guide for {{name}}</a>
            </div>
            <div class="search-result-description">
                <p class="restaurant-description">{{description}}</p>
            </div>
            <div class="search-result-misc-details">
                <ul>
                {{#if phonenumber}}
                    <li>{{phonenumber}}</li>
                {{/if}}
                    <li>{{address}}</li>
                </ul>
            </div>
        </div>
    {{/each}}
    </section>
</div>
