<!-- Custom styles: -->
<link rel="stylesheet" href="/css/search.css" media="all">
<script src="/js/search.js" defer></script>
<div id="content">
    <section id="search-section">
        <form id=search-form" action="/search" meathod="GET">
            <input type="text" id="query" name="query" value="{{query}}">
            <button type="submit">Search</button>
        </form>
    </section>
    <section id="results-section">
    {{#each results}}
        <div class="search-result">
            <h2 class="restaurant-name">{{name}}</h2>
            <h3 class="restaurant-award" title="{{award}}">{{award}}</h3>
            <h5 class="restaurant-description">{{description}}</h5>
            <p class="restaurant-cuisine">{{cuisine}}</p>
            <a class="restaurant-url" href="{{websiteurl}}">{{name}} Website</a>
        </div>
    {{/each}}
    </section>
</div>
